:root {
  --primary-color: #005792;
  --secondary-color: #00204a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: #60dafc;
  --extra-color: #fdb44b;
  --primary-font: "Poppins", sans-serif;
}
body {
  margin: 0 auto;
  width: 100%;
  background-color: var(--primary-color);
  font-family: var(--primary-font);
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 98px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 48px;
  font-weight: bold;
}
.container-about a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
}
.container-about {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.container-projects a {
  background-color: var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
}
.container-projects {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.mainNav {
  margin-bottom: 40px;
}
.main-info {
  color: whitesmoke;
  margin-top: 200px;
}
.contact {
  color: whitesmoke;
  display: block;
  margin-top: 100px;
}
.contact-info {
  color: var(--secondary-color);
  font-size: 28px;
  background-color: whitesmoke;
  font-weight: bold;
  line-height: 2.5;
  margin: 60px 350px;
  padding: 40px 40px;
}
.about-title {
  color: var(--secondary-color);
  font-size: 64px;
  text-align: center;
}
.expertise {
  font-size: 18px;
}
.badges {
  display: block;
  margin: auto;
  text-align: center;
  align-content: center;
}
#about-me {
  margin-top: 300px;
  margin-bottom: 50px;
  background-color: white;
  color: var(--secondary-color);
}
.projects {
  margin-top: 80px;
}
.DISC {
  display: flex;
  justify-content: center;
}
.weather {
  display: flex;
  justify-content: center;
}
.card-title {
  font-size: 36px;
  text-align: center;
  color: var(--secondary-color);
}
footer {
  margin: 60px 80px;
}
footer .contact-box {
  background: whitesmoke;
  padding: 30px 120px;
  margin: 40px 0;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--extra-color);
}
footer .btn {
  padding: 20px 60px;
}

footer .social-links a {
  margin: 0 20px;
  background: whitesmoke;
  color: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: whitesmoke;
  background: var(--extra-color);
}
footer .btn:hover {
  background: var(--extra-color);
  color: var(--primary-color);
}
