:root {
  --primary-color: #005792;
  --secondary-color: #00204a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: #60dafc;
  --extra-color: #fdb44b;
}
body {
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-color);
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 98px;
  color: var(--secondary-color);
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
.mainNav {
  margin-bottom: 40px;
  color: white;
  background-color: var(--primary-color);
}
#about-me {
  margin-top: 500px;
}
